@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
