@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap");

body {
  margin: 0;
  color: white;
  background-color: #222e7c;
  font-family: "Raleway", sans-serif;
}

::selection {
  color: white;
  background: black;
}

::placeholder {
  color: black;
}
